/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700
*/
html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color:  hsl(0, 0%, 100%);
    padding: 15px;
    box-shadow: 0 0 5px 0 lightslategrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
}

.card,
.card__img img{
    border-radius: 20px;
}

.card__img img{
    width: 250px;
    margin-bottom: 20px;
}

.card__info{
    width: 220px;
    text-align: center;
}

.card__info__title,
.card__info__paragraph{
    margin-bottom: 20px;
}

.card__info__title{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

.card__info__paragraph{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}
