html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
  
body{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color:  hsl(0, 0%, 100%);
    padding: 15px;
    box-shadow: 0 0 16px -2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card,
.card__img img{
    border-radius: 12px;
}

.card__img img{
    width: 250px;
    margin-bottom: 20px;
}

.card__info{
    width: 230px;
    text-align: center;
}

.card__info__title,
.card__info__paragraph{
    margin-bottom: 20px;
}

.card__info__title{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.27em;
}

.card__info__paragraph{
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}
